quixstreams==0.5.2
pandas==1.5.3
scikit-learn
tensorflow
keras
huggingface-hub
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-kafka-python
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
